/* selector universal */
*{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    padding: 0;
}

header{
    padding: 20px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(211, 107, 183);

}

/*    MENU  */
#opcionesMenu{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgb(243, 143, 243);
}

nav a:hover{
    color: white;
    background-color: blue;
}

a{
    text-decoration: none;
}


nav a{
    color: rgb(0, 0, 0);
    flex-direction: row;
    padding: 14px;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex: 30%;
    background-color: rgb(138, 247, 151);
    padding: 20px;
}

#fueraSeccion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    flex: 70%;
    background-color: rgb(167, 145, 241);
    padding: 20px;
}

footer{
    padding: 20px;
    background-color: rgb(250, 205, 189);
   text-align: center;
}

.contenedor{ 
    /* posicionar */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    padding : 10px;
    border: 2px solid rgb(255, 121, 121);
    flex-direction: column;
    flex-direction:row-reverse;
    

}
.contenedor div{
    background-color: rgba(185, 16, 16, 0.04);
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;
}

/* IMAGENES */
img{
    width: 300px;
    height: 300px;
    margin: 5px 5px;
}
  


